// Variables

negro = #000
blanco = #ffffff
magenta = #af004d
rojo = #E4003A
amarillo = #FFEE00
verde = #009688
gris_light = #EDEDED
gris_medium = #575756
gris_dark = #343333
//azul =  #39A4DD
//primary_text = #514742
//verde_dark = #618342
//purpura = #930050


// Media

b1 = 30em // 480px
b2 = 48em // 768px
b3 = 64em // 1024px
b4 = 75em // 1200px