// Variables

black = #000
white = #ffffff
red = #E4003A
grey_light = #EDEDED
grey = #575756
grey_dark = #343333
yellow = #FFEE00
blue_light = #308fcb
blue = #1976D2
blue_dark = #022233


//verde = #009688
//magenta = #af004d
//azul =  #39A4DD
//primary_text = #514742
//verde_dark = #618342
//purpura = #930050


// Media

b1 = 30em // 480px
b2 = 48em // 768px
b3 = 64em // 1024px
b4 = 75em // 1200px