//   Helper classes



.hidden
  display none !important
  visibility hidden
  color red


.visuallyhidden
  border 0
  clip rect(0 0 0 0)
  height 1px
  margin -1px
  overflow hidden
  padding 0
  position absolute
  width 1px

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
  clip auto
  height auto
  margin 0
  overflow visible
  position static
  width auto

.invisible
  visibility hidden

.clearfix:before,
.clearfix:after
  content " "
  display table

.clearfix
  *zoom 1
    &:after
      clear both

// responsive

.max-width
    width 100%
    max-width 1200px
    margin-left auto
    margin-right auto
    overflow hidden
    box-sizing border-box

.img-responsive
    width 100%
    max-width 100%
    height auto

.list-none
    list-style-type none

.non-margin
    margin 0
    padding 0


.wrap
  width 1200px
  margin-left auto
  margin-right auto

// color Background

.bg
    &--black
        background-color black
    &--white
        background-color white
    &--red
        background-color red
    &--grey-light
        background-color grey_light
    &--grey
        background-color grey
    &--grey-dark
        background-color grey_dark
    &--yellow
        background-color yellow
    &--blue-light
        background-color blue_light
    &--blue
        background-color blue
    &--blue-dark
        background-color blue_dark

// alineaciones

.text
    &--center
        text-align center
    &--left
        text-align left
    &--right
        text-align right
    &--black
        color black
    &--white
        color white
    &--red
        color red
    &--grey-light
        color grey_light
    &--grey
        color grey
    &--grey-dark
        color grey_dark
    &--yellow
        color yellow
    &--blue-light
        color blue_light
    &--blue
        color blue
    &--blue-dark
        color blue_dark

    &--p1
        font-size 1em
    &--p2
        font-size 1.3em
    &--p3
        font-size 1.4em  //contactleft footer
    &--p4
        font-size 1.8em //botones
    &--p5
        font-size 2em


.title
  //font-family lobster
  font-weight bold
  margin-top 0
  padding 0
  &--main
    //line-height 1.1em
    font-size 3em
  &--sub2
    font-size 3em
  &--sub3
    font-size 2.5em






