/*
Theme Name: NuevaSemana
Theme URI: http://nuevasemana.com
Author: @yavallejo - DiloDigital
Author URI: http://dilodigital.com
Description: NuevaSemana theme Desarrollador por DiloDigital
Version: 1.0
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@import "nib"
@import "jeet"

//Variables
@import "settings/config.styl"
@import "settings/mixins.styl"
@import "settings/helpers.styl"

//Elementos
@import "vendor/normalize.styl"
@import "elements/fonts.styl"
@import "elements/button.styl"
@import "elements/form.styl"

//Contenido
@import "elements/content.styl"