.btn__suscribete
	display inline-block
	text-decoration none
	color white
	background yellow
	padding 0.5em 2em
	margin 5px 0
	font-size 1.5em
	font-weight bold
	border-radius 10px				
	box-shadow 3px 3px 7px black
.btn__descarga
	display inline-block
	text-decoration none
	color white
	background yellow
	padding 0.4em 0
	font-size 18px
	font-weight bold
	border-radius 10px				
	box-shadow 3px 3px 7px black
	text-align center
		