edit()

.box
	padding 0em 7%
	
.box-small
	padding 1em 14%


body
	margin 0
	padding 0
	font-family sans-serif
	min-height 100vh
	
		
nav
	display flex
	justify-content space-between
	.logo
		//padding 10px
	.btn.menu_mobile
		display none
	.main_nav-cont
		ul
			padding-left 0
			li
				
				list-style none
				a
					//padding 20px
					margin 0 1em
					text-decoration none
					color black
header
	background #1976D2
	h1
		color green
	p	
		color #1f5f85
		font-size 16px	
	a.btn_suscribe
		text-decoration none
		color white
		background #f6c31b
		box-shadow 3px 3px 7px black
		padding 5px 20px
		border-radius 5px				



.noticias-box
	text-align center
	h2.titulo 
		font-size 40px	
		font-weight bold
	.gallery-container
		display flex
		flex-wrap wrap
		/*max-width 1000px
		margin-left auto
		margin-right auto*/
		padding 0 4%
		+above(b2)
			padding 0 6%
		+above(b3)
			padding 0 6%
		+above(b4)
			padding 0 6%
	
	.gallery-item
		width calc(100% - 2em)
		+above(b1)
			width calc(50% - 2em)
		+above(b2)
			width calc(25% - 2em)

		margin 1em
		img
			width 100%
		
		
					
				
/*+above(b1)
	.noticias-item
		width 70%
		img
			width 50%
			height auto
	.noticias-box
		background yellow
+above(b2)
	.noticias-box
		background red
	.noticias-item
		width 50%
		img
			width 30%
			height auto
+above(b3)
	.noticias-box
		background verde
+above(b4)
	.noticias-box
		background peru*/
		
					
		
.suscribete1
	display flex
	justify-content center
	padding 20px
	a
		text-decoration none
		color white
		background #f6c31b
		box-shadow: 3px 3px 7px black
		padding 5px 20px
		border-radius 5px		




.margen 
	background #022233
	padding 70px
	.impresa
		flex-flow row wrap
		display flex
		justify-content space-around
		text-align center
		font-size 50px
		font-weight bold
		color white
						
	.cursos1
		display flex
		flex-wrap wrap
		justify-content center
		
		.curso
			margin 5%
					
	.busqueda		
		display flex
		justify-content center
		flex-wrap wrap	
		.entrada1				
			display flex
			justify-content center
			text-align center			
			border-radius 5px 5px 5px 5px
			margin 10px 8px
			input
				background none
				border-radius 5px 5px 5px 5px
				width 200px
				height 30px
		.descarga 
			a
				display flex
				text-decoration none				
				color white				
				background #f6c31b
				box-shadow: 3px 3px 7px black
				padding 10px 50px
				border-radius 5px 5px 5px 5px  	
				margin 10px 8px
							
.suscribirte
		display flex
		flex-direction column 
		background white
		padding 70px
		.titulo1	
			display flex
			justify-content center				
			flex-direction column 
			font-weight bold
			text-align center
			font-size 50px			
		.dises
			display flex
			flex-wrap wrap
			justify-content center
			align-items stretch
			.dise
				margin 40px 20px;
				img
					border-radius 100px
					border-style solid
					border-width 7px
					border-color #2994da																						
		.suscribete2 			
			display flex
			justify-content center
			a
				text-decoration none
				color white
				background #f6c31b
				box-shadow: 3px 3px 7px black
				padding 5px 20px
				border-radius 5px
.ultimo
	background #022233
	.contacto	
		display flex
		justify-content center				
		flex-direction column 
		text-align center
		color white
		font-size 50px	
	.queremos
		display flex
		justify-content center
		flex-wrap wrap	
		.aprendiendo
			color white			
			font-size 20px
			margin 50px						
		.contactanos
			display flex
			flex-direction column
			justify-content space-between  
			color white
			align-items center
			margin 50px			
			.escuchar 
				display flex
				justify-content center				
				flex-direction column 				
				text-align center
				.titulo1
					font-size 50px
					font-weight bold	
				.titulo2					
					font-size 20px	
			.entrada1 input,textarea
				display flex	
				width 500px
				height 30px
				margin 3px				
			.entrada1 textarea
				height 100px 
				width 498px				
			.mensaje #submit
				text-decoration none
				color white				
				background #f6c31b
				box-shadow: 3px 3px 7px black
				padding 20px 20px
				border-radius 5px 5px
				width 465px
				text-align center
				font-size 30px				
				margin 20px		
				
footer		
	display flex
	justify-content center	
	font-size 20px
	background #308fcb	
	padding 20px
	color white

