header.header#header(role="header").bg--white
	.logo
		a(href="#")
			img(src="img/logo-nuevasemana.png" width="200" height="60")
		.toggle-menu#menu.icon-menu

	nav.main-nav#navigation(role="navigation")
		.main-nav__cont#target
			ul.main-nav__list.non-margin
				li.main-nav__item.list-none.text--p2
					
					a(href="#").main-nav__link Blog  
					a(href="#").main-nav__link Ediciones
					a(href="#").main-nav__link Contacto