nav#navigation(role="navigation").main-nav
	.logo
		a(href="#")
			img(src="img/logo-nuevasemana.png" width="200" height="60")
	.toggle-menu#menu menu

	.main-nav__cont#target
		ul.main-nav__list.non-margin
			li.main-nav__item.list-none.text--p2
				a(href="#").main-nav__link Blog
				a(href="#").main-nav__link Ediciones
				a(href="#").main-nav__link Contacto

header#header(role="banner").text--center.bg--blue
	.header.box
		h1.title--main.text--white La Nueva Semana
		p.text--p2.text--white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam magni, optio quidem nesciunt dolores velit consectetur
		a(href="#").btn__suscribete Suscríbete