header.header#header(role="header").bg--white.max--width
	.logo
		a(href="#")
			img(src="img/logo-nuevasemana.png" width="200" height="60")
		.toggle-menu.icon-menu#menu

	nav.main-nav#navigation(role="navigation")
		.main-nav__cont#target
			ul.main-nav__list.non-margin
				li.main-nav__item.list-none
					
					a(href="#").main-nav__link Blog  
					a(href="#").main-nav__link Ediciones
					a(href="#").main-nav__link Contacto

