<!DOCTYPE html>
html(lang="es")
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width,user-scalable=no, initial-scale=1.0")
	link(rel="stylesheet", href="style.css")
	//- script(src="//code.jquery.com/jquery-1.11.3.min.js")
	title Nueva Semana

body
	nav#navigation(role="navigation").box.main_nav
		a(href="#").logo
			img(src="img/logo-nuevasemana.png" width="200" height="60")
		.btn.menu_mobile menu

		.main_nav-cont
			ul.main_nav-list
				li.main_nav-item
					a(href="#").main_nav-link Blog
					a(href="#").main_nav-link Ediciones
					a(href="#").main_nav-link Contacto

	header#header(role="banner").box-small.text--center
		h1 La Nueva Semana
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam magni, optio quidem nesciunt dolores velit consectetur
		a(href="#").btn_suscribe Suscribete

	main#main(role="main")
		section.noticias-box
			h2.titulo Ultimas Noticias
			.gallery-container
				-for(var i=0; i<8; i++)
					.gallery-item
						a(href="#")
							img(src="img/imagen.jpg", alt="")

			a(href="#").btn_suscribe Suscribete

		section.impresa-box
			h2.titulo Ediciones Impresas
			.gallery-curso
				-for(var i=0; i<4; i++)
					.curso-item
						img(src="img/imagen2.jpg", alt="")
			.busqueda 
				.entrada1
					input(type="text", name="name_ano", autofocus, placeholder="Año", required)
				.entrada1
					input(type="text", name="name_mes", autofocus, placeholder="Mes", required)
				.entrada1
					input(type="text", name="name_edicion", autofocus, placeholder="Edicion", required)
			.descarga
				a(href="#") Descargar

		section.suscribe-box
			h2.titulo ¿Por que Suscribirte?
			.suscribe-gallery
				-for(var i=0; i<3; i++)
					.suscribe-item
						img(src="img/imagen3.jpg", alt="")
			
			a(href="#").btn_suscribe Suscribete

		section.contacto-box
				
			.contenedor 
				.contact__left
					img(src="img/logo-nuevasemana.png", alt="")

					p LA NUEVA SEMANA, INC.  
					p PO BOX 2344 Paletine, IL 60078 
					p Telefono (847) 239-4815
					p Fax (847) 890-6327 
					p info@lanuevasemana.com
				.contact__form
					.contact__information
						h2.titulo1 Contáctanos
						p.titulo2 Queremos escuchar lo que tienes que decir
					.contact__formulario
						form(action="enviamail1.php", class="funcionesform",  method="post")
							.form__group
								label(for="nombre") Nombre
								input#nombre(type="text", name="nombre", class="form__control", placeholder="Tu nombre", required)
							.form__group
								label(for="email") Email
								input#email(type="email", name="email", class="form__control", placeholder="Tu correo", required)
							.form__group		
								label(mensaje) Mensaje
								textarea#mensaje(name="mensaje", class="form__control", placeholder="Tu mensaje", required)
							.form__submit
								input#submit(type="submit", name="submit", value="Enviar Mensaje")
							#form-messages
					
						
		footer
			p Diseñado por Dilo Digital