<!DOCTYPE html>
html(lang="es")
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width,user-scalable=no, initial-scale=1.0")
	link(rel="stylesheet", href="style.css")
	script(src="//code.jquery.com/jquery-1.11.3.min.js")
	title Nueva Semana

body 
	header
		.header
			.logo
				img(src='img/logo-nuevasemana.png')
				
		nav
			.menunav
				each item in ['Blog', 'Ediciones', 'Contacto']
					li: a(href="#")= item

			

	.banner_aprende
		.texto
			h1 VACION

		.suscribete
			a(href="#") Suscribete

section.nuestro 
	.titulo Ultimas Noticias
	.blog
		.bl <img src="http://lorempixel.com/image_output/nightlife-q-c-200-200-6.jpg">			
		.bl <img src="http://lorempixel.com/image_output/nightlife-q-c-200-200-7.jpg">			
		.bl <img src="http://lorempixel.com/image_output/nightlife-q-c-200-200-8.jpg">			
		.bl <img src="http://lorempixel.com/image_output/nightlife-q-c-200-200-9.jpg">			
	
		.bl <img src="http://lorempixel.com/image_output/animals-q-c-200-200-6.jpg">			
		.bl <img src="http://lorempixel.com/image_output/nightlife-q-c-200-200-7.jpg">			
		.bl <img src="http://lorempixel.com/image_output/nightlife-q-c-200-200-8.jpg">			
		.bl <img src="http://lorempixel.com/image_output/animals-q-c-200-200-6.jpg">
	.suscribete1
		a(href="#") Suscribete		

section.margen
	.impresa Ediciones Impresas
	.cursos1
		.curso <img src="http://lorempixel.com/image_output/animals-q-c-200-200-1.jpg">	
		.curso <img src="http://lorempixel.com/image_output/animals-q-c-200-200-2.jpg">	
		.curso <img src="http://lorempixel.com/image_output/city-q-c-200-200-3.jpg">
		.curso <img src="http://lorempixel.com/image_output/nightlife-q-c-200-200-4.jpg">
	.busqueda 
		.entrada1 <input type="text" name="name_ano" autofocus placeholder="Año" required />
		.entrada1<input type="text" name="name_mes" autofocus placeholder="Mes" required />
		.entrada1<input type="text" name="name_edicion" autofocus placeholder="Edicion" required />
		.descarga 
			a(href="#") Descargar

section.suscribirte
		.titulo1 ¿Por que Suscribirte?
		.dises
			.dise <img src="http://lorempixel.com/image_output/animals-q-c-200-200-1.jpg">
			
			.dise <img src="http://lorempixel.com/image_output/animals-q-c-200-200-2.jpg">	
			
			.dise <img src="http://lorempixel.com/image_output/city-q-c-200-200-3.jpg">
		.suscribete2 
			a(href="#") Suscribete	

section.ultimo
		
	.queremos 
		.aprendiendo <img src="http://lorempixel.com/image_output/animals-q-c-100-100-1.jpg"> <p> LA NUEVA SEMANA, INC.  <br>PO BOX 2344 Paletine, IL 60078 <br> Telefono (847) 239-4815<br> Fax (847) 890-6327 <br>info@lanuevasemana.com</p>
		.contactanos 
			.escuchar
				.titulo1 Contáctanos
				.titulo2<p>Queremos escuchar lo que tienes que decir</p> 
			.entrada1
				<form class="funcionesform" action="enviamail1.php" method="post"><input type="text" id="nombre" name="nombre" autofocus placeholder="Tu nombre" required="" /> <input type="email" id="email" name="email" placeholder="Tu correo" required="" /><textarea id="mensaje" name="mensaje" placeholder="Mensaje" required=""></textarea>

			.mensaje
				<input id="submit" type="submit" name="submit" value="Enviar Mensaje" />
				
footer Diseñado por Dilo Digital


