<!DOCTYPE html>
html(lang="es")
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width,user-scalable=no, initial-scale=1.0")
	link(rel="stylesheet", href="style.css")
	link(rel="stylesheet", href="fonts.css")
	title Nueva Semana

body
	include header.jade
	include principal.jade
	include footer.jade
	
	script(src='//code.jquery.com/jquery-1.12.0.min.js')
	script(src='js/main.js')