<!DOCTYPE html>
html(lang="es")
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width,user-scalable=no, initial-scale=1.0")
	link(rel="stylesheet", href="style.css")
	//- script(src="//code.jquery.com/jquery-1.11.3.min.js")
	title Nueva Semana

body
	include header.jade
	include principal.jade
	include footer.jade