main#main(role="main")
	section.noticias
		h2.titulo Ultimas Noticias
		.noticias__box
			-for(var i=0; i<8; i++)
				.noticias__item
					a(href="#")
						img(src="img/imagen.jpg", alt="")

		a(href="#").btn_suscribe Suscríbete

	section.ediciones
		h2.titulo Ediciones Impresas
		.ediciones__box
			-for(var i=0; i<4; i++)
				.ediciones__item
					img(src="img/imagen2.jpg", alt="")
		.busqueda 
			.entrada
				input(type="text", name="name_ano", autofocus, placeholder="Año", required)
			.entrada
				input(type="text", name="name_mes", autofocus, placeholder="Mes", required)
			.entrada
				input(type="text", name="name_edicion", autofocus, placeholder="Edicion", required)
			.descarga
				a(href="#") Descargar

	section.suscribe
		h2.titulo ¿Por que Suscribirte?
		.suscribe__box
			-for(var i=0; i<3; i++)
				.suscribe__item
					img(src="img/imagen3.jpg", alt="")
		
		a(href="#").btn_suscribe Suscribete

	section.contact
			
		.contact__box
			.contact__left
				img(src="img/logo-nuevasemana.png", alt="")

				p LA NUEVA SEMANA, INC.  
				p PO BOX 2344 Paletine, IL 60078 
				p Telefono (847) 239-4815
				p Fax (847) 890-6327 
				p info@lanuevasemana.com
			.contact__form
				include form.jade